bucket       = "REPLACE_WITH_STATE_BUCKET"
key          = "smarthotel/staging/terraform.tfstate"
region       = "ap-south-1"
use_lockfile = true
encrypt      = true
kms_key_id   = "REPLACE_WITH_STATE_KMS_KEY_ARN"
